// headerbar
@mixin headerbar_buttons($bg, $fg, $border)
{
  & {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: $button_radius;
    color: $fg;
    border-color: $border;
    background-color: $bg;
    -gtk-outline-radius: $button_radius;

    &:hover {
      color: $fg;
      background-color: gtkshade($bg, 1.1);
    }

    &:active, &:checked {
      color: $theme_selected_fg_color;
      border-color: $border;
      background-color: gtkshade($bg, 0.5);

      &:backdrop {
        color: gtkalpha($fg, 0.8);
        border-color: $border;
        background-color: gtkshade($bg, 0.5);
      }
      
      &:disabled {
        color: gtkalpha($fg, 0.8);
        border-color: $border;
        background-color: gtkshade($bg, 0.9);
        
        &:backdrop {
          color: gtkalpha($fg, 0.8);
          border-color: $border;
          background-color: gtkshade($bg, 0.9);
        }
      }
    }

    &:disabled {
      color: gtkalpha($fg, 0.8);
      
      &:backdrop {
        color: gtkalpha($fg, 0.8);
      }
    }

    &:backdrop {
      color: gtkalpha($fg, 0.8);
      background-color: $bg;
    }
  }
}

@mixin headerbar() {
  headerbar, headerbar:not(.titlebar) {
    padding: 4px 8px;
    border-width: 0;
    border-style: solid;
    border-color: gtkmix($borders, $headerbar_bg_color, 0.5);
    border-bottom-width: 1px;
    box-shadow: 0 1px $borders;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;

    &:backdrop {
      border-color: $unfocused_borders;
      color: $headerbar_fg_color;
      background-color: $headerbar_bg_color;
    }

    .titlebar &, .titlebar &:backdrop {
      background-color: transparent;
    }

    .tiled &, .tiled &:backdrop, .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }

    & .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    & .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, gtkshade($headerbar_bg_color, 0.8));
    }

    & entry {
      padding: 4px 8px;
    }
  }
}
